{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header ">
                <div class="row">
                    <h2 class="card-title" > Welcome To Our Project</h2>
                    <div class="card">
                        <h2 class="card-category" id="aboutNostr" > About The Project</h2>
                        <p class="card-body">Thank you for checking out our predictive algorithim! We are Luis, Aaron, Kate, and Pearce. Our project is a machine learning algorithm that predicts the prices of multiple cryptocurrency types such as etherium and bitcoin by using such concepts as tensor flow and has a massive database which is comprised of rows containing the prices of different cryptocurrency at different times which then uses these pieces of information to make a prediciton about what the next prices of these "coins" will be. Our project also has a second database which is structured as a relational model in order to store user profile information and other such bits of "user" information. Our database is mostly run by SQL and is queried by EJS and Jquery within our webpages and while it is not updated daily, we plan on implementing weekly updates to our information.
                        </p>
                    </div>
                    <div class="card">
                        <h2 class="card-category" id="aboutNostr" >What is Cryptocurrency?</h2>
                        <p class="card-body">Cryptocurrency is a new concept that has gained great popularity over the last few years. The main reason for this popularity is the fact that it is a decentralized currency, in that it's value is freely decided by the public market. Businesses can pay individuals for lending them the processing power of their hardware to complete millions of very basic calculations per minute and for which these companies pay you in bitcoin (or some other accepted cryptocurrency).</p>
                    </div>
                    
                </div>  
            </div>
        </div>
    </div>
</div>    
<!-- <h1>



</h1>


<p>

Thank you for checking out our predictive algorithim! We are Luis, Aaron, Kate, and Pearce. Our project is a machine learning algorithm that predicts the prices of multiple cryptocurrency types such as etherium and bitcoin by using such concepts as tensor flow and has a massive database which is comprised of rows containing the prices of different cryptocurrency at different times which then uses these pieces of information to make a prediciton about what the next prices of these "coins" will be. Our project also has a second database which is structured as a relational model in order to store user profile information and other such bits of "user" information. Our database is mostly run by SQL and is queried by EJS and Jquery within our webpages and while it is not updated daily, we plan on implementing weekly updates to our information.


</p> -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}